
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
 margin:0; 
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Raleway", sans-serif ;
    font-weight: bold;
    color: #000;

}
#page-wrapper{
  position: relative;
}

#header-img{
  max-width:20%;
  height: auto;
  display: inline-block;
  margin-right: 20px;
  
}
#bottle-image{
  max-width:100%;
}

.img-pricing{
  width: 8%;
}
li{
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
header{ 
  background-color: #396be8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav{
  font-weight: 800;
  color: #fff;
}

.nav-link{
  display:inline;
  margin-right: 16px;
}
#img-and-name{
  display: flex;
  justify-content: space-between;
}
#nav-company-name{
  display: inline-block;
  white-space: nowrap;
  color: aliceblue;
}
