
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
 margin:0; 
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Raleway", sans-serif ;
    font-weight: bold;
    color: #000;

}
#page-wrapper{
  position: relative;
}

#header-img{
  max-width:20%;
  height: auto;
  display: inline-block;
  margin-right: 20px;
  
}
#bottle-image{
  max-width:100%;
}

.img-pricing{
  width: 8%;
}
li{
  list-style: none;
  display: inline;
}
a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
header{ 
  background-color: #396be8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav{
  font-weight: 800;
  color: #fff;
}

.nav-link{
  display:inline;
  margin-right: 16px;
}

#logo{
  display: flex;
  justify-content: space-between;
}
#nav-company-name{
  display: inline-block;
  white-space: nowrap;
  color: aliceblue;
  font-size: 26px;
}
p{
  font-weight: 400;
  font-size: large;
  word-spacing: 55%;
  letter-spacing: 18%;
  line-height: 1.5;
}
#our-mission{
  top: -100px;
  display: block;
  background-color: #31d2ff;
  text-align: center;
  padding: 3% 20%;
  justify-content: space-between;
  padding-top: 150px;
  margin-top: -100px;
  top: 50%;
}
#our-mission span{
  top: -200px;
}

h2{
  font-size: 35px;
  text-shadow: #fff;
}
#container-bottom{
  background-color: #29b9e1;
  display: flex;
  padding: 3% 10%;
  text-align: center;
  align-items: center;
  justify-content: center;

}
#container-img{
  max-width:10%;
  height: auto;
  display: inline-block;
  margin-right: 30px;
}
iframe{
  width: 100%;
  height: 100%;
  padding: 3% 1.5%;
}
#pricing{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottles{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%/3);
  margin: 5%;
  border: 1px solid #000;
  border-radius: 3px;
}

.bottles > .level{
  background-color: #98e9ff;
  color: #000;
  padding: 15px 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.bottles > h2{
  margin-top: 15px;
}
.bottles > ol {
  margin: 15px 0;
}

.bottles > ol > li {
  padding: 5px 0;
}
.bottles > button {
  border: 0;
  margin: 15px 0;
  padding: 10px 18px;
  background-color: #31d2ff;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}
.bottles > button:hover{
  background-color: #396be8;
  transition: background-color 0.5s;
}
.img-pricing{
  width: 15%;
  padding-bottom: 10px;
  height: auto;
}

footer{
  margin-top: 25px;
  background-color: #31d2ff;
  vertical-align: middle;
}
footer > ul{
  display: flex;
  justify-content: flex-end;
}
footer > ul > li {
  padding: 0 10px;
}
footer > span{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #fff;
  padding-right: 5px;
  
}

#hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 30px;
}
#hero>h2{
  margin-bottom: 20px;
  word-wrap: break-word;
}
#hero input[type='email'] {
  max-width: 400px;
  width: 100%;
  padding: 5px;
}


#hero input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #2fd2ff;
  font-size: 15px;
  padding: auto;
}
#hero input[type='submit']:hover{
  background-color: blue;
  color: #fff;
  transition: background-color 0.5s;
  transition: color 0.5s;
}
@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}
@media (max-width: 600px){

  nav{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}