@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;300;600&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: 'Roboto Slab', sans-serif;
  margin: 0;
  display: flex;
}
nav{
  min-width: 250px;
  background-color: #fbfbfb;
  height: 100vh;
  border-right: 0.5px solid #ddd;
  padding: 20px 5px;
}
main{
  background-color: white;
  height: 100vh;
  overflow-y: scroll;
  flex: 1;
}
section{
  padding: 15px;
  line-height: 1.5;
}
header{
  font-size: 20px;
  font-weight: 700;
}
nav a{
  color: #000;
  display: block;
  padding: 15px;
  border-top: 1px solid #ddd;
  text-decoration: none;
 
}
p{
  font-weight: 500;
  font-style: bold;
}
strong{
  background-color: #ddd;

}